* {
  box-sizing: border-box;
}

.tools {
  width: 150px;
  text-align: center;
  position: relative;
  bottom: 250px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #d6dbdf;
  background-color: #7dcea0;
  display: inline-block;
  border-left: 2px solid #34495e;
  border-radius: 3px;
  padding: 5px;
  margin: 20px 30px;
}

.fieldHead {
  font-family: Roboto;
  color: #34495e;
  background: #7dcea0;
  width: 250px;
  height: 25px;
  font-size: 36px;
  font-weight: 700;
  line-height: 35px;
}

.userField {
  width: 250px;
  text-align: center;
  display: inline-block;
  margin: 10px auto;
}

.textField {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  max-width: 250px;
  max-height: 400px;
  min-width: 250px;
  min-height: 400px;
  padding: 5px;
  margin: 15px auto;
  border-radius: 3px;
  border: 1px solid #666;
}

.moreInfo {
  width: 800px;
  background: #d4efdf;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 10px auto;
}

.moreInfo p {
  width: 500px;
  color: #34495e;
  font-family: Cutive;
  font-size: 10px;
  margin: auto;
}

#mainFields {
  text-align: center;
  width: 800px;
  background-image: url("media/produce_rz.jpg");
  background-size: cover;
  background-color: #e9f7ef;
  margin: 50px auto;
  border-radius: 3px;
}

#defaultDrop {
  color: #888
}

#convertButton {
  color: #444;
  font-size: .75rem;
  font-weight: 700;
  padding: 5px 10px;
  margin: 10px 10px;
  border-radius: 3px;
  border: 1px solid #666;
}

@keyframes pulse {
  0% {
    background-color: #d6dbdf;
    color: #444;
  }
  50% {
    background-color: #34495e;
    color: #d6dbdf;
  }
  100% {
    background-color: #d6dbdf;
    color: #333;
  }
}

#convertButton:hover {
  animation-name: pulse;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  cursor: pointer;
}